@import '../common/icons.scss';

.container_showlist{
    height: 100%;
    display: flex;
    flex-direction: column;
    header{
        // height: 1.17333rem;
        // @include border(0 0 1px 0);
        // background-color: #fefefe;
        // line-height: 1.17333rem;
        // text-align: center;
        // position: relative;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 1.17333rem;
        line-height: 1.17333rem;
        text-align: center;
        box-sizing: border-box;
        border-bottom: 1px solid #ebebeb;
        background-color: #fefefe;
        z-index: 100;

        a{
            position: absolute;
            left: 0;
            top: 0;
            width: 1.33333rem;
            height: 100%;
            font-family: 'yofont';
            font-size: .53333rem;
        }
        h3{
            display: inline-block;
            font-size: .48rem;
            font-weight: 700;
            color: #232323;
        }
    }
    nav{
        // // padding: .26667rem 0 .26667rem .4rem;
        // width: 100%;
        // display: flex;
        // background: #fefefe;
        // // @include border(0 0 1px 0);
        // // box-shadow: -0.05333rem 0 0.12rem 1px rgba(35,35,35,.12);
        // height: 1.17333rem;
        // line-height: 1.17333rem;
        // // box-sizing: border-box;

        display: flex;
        padding: .26667rem 0 .26667rem .4rem;
        background-color: #fefefe;
        position: fixed;
        left: 0;
        top: 1.17333rem;
        z-index: 1;
        width: 100%;
        box-sizing: border-box;

        .show_type_wrap{
            flex: 1;
            width: 7.33333rem;
            margin-right: .13333rem;
            overflow: hidden;
            .swiper-container{
                display: flex;
                white-space: nowrap;
                .swiper-wrapper{
                    div{
                        font-size: .4rem;
                        color: #232323;
                        height: .64rem;
                        line-height: .64rem;
                        border-bottom: .04rem solid transparent;
                        border-radius: .02667rem;
                        text-align: center;
                        &.active{
                            color: #ff6743;
                            border-color: #ff6743;
                        }
                    }
                }
            }
           
        }
        .city_wrap{
            width: 2rem;
            border-left: .02667rem solid #e0e0e0;
            font-size: .4rem;
            color: #666;
            height: .37333rem;
            line-height: .37333rem;
            margin-top: .13333rem;
            text-align: center;
            i{
                vertical-align: top;
            }
            b{
                font-family: 'yofont';
                font-size: .3555rem;
                font-weight: 100;
                vertical-align: top;
            }
        }
    }
    main{
        position: fixed;
        left: 0;
        top: 2.35rem;
        bottom: 0;
        flex: 1;
        overflow-y: auto;
        width: 100%;
        div{
            .head,
            .foot{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 1rem;
            }
            .head img,
            .foot img{
                width: 0.4264rem;
                height: 0.4264rem;
                transition: transform 150ms;
                -webkit-transition: transform 150ms;
            }
            .head img{
                transform: rotate(180deg);
            }
            .up{
                transform: rotate(360deg) !important;
                -webkit-transform: rotate(360deg) !important;
            }
            .down{
                transform: rotate(180deg);
            }

            .library-wrap{
                padding: 0 .4rem;
                background: #fefefe;
                ul{
                    li{
                        display: flex;
                        margin-bottom: .86667rem;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        .show-icon{
                            width: 2.93333rem;
                            height: 4rem;
                            border-radius: .10667rem;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .show-desc{
                            flex: 1;
                            margin-left: .4rem;
                            color: #232323;
                            padding-top: .13333rem;
                            // background: pink;
                            .show-date{
                                font-size: .32rem;
                                height: .64rem;
                                line-height: .64rem;
                                letter-spacing: 1px;
                                color: #666;
                                strong{
                                    color: #232323;
                                    font-size: .42667rem;
                                }
                            }
                            a{
                                display: block;
                                color: #232323;
                                h3{
                                    width: 100%;
                                    font-size: .45333rem;
                                    line-height: .6rem;
                                    min-height: .6rem;
                                    max-height: 1.2rem;
                                    margin-top: .33333rem;
                                    word-break: break-all;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    overflow: hidden;
                                    @include ellipsis(null,2);
                                }
                            }
                            .show-address{
                                margin-top: .33333rem;
                                width: 5.33333rem;
                                font-size: .32rem;
                                height: .64rem;
                                line-height: .64rem;
                                color: #666;
                            }
                            .show-price{
                                font-size: .29333rem;
                                color: #999;
                                height: .48rem;
                                line-height: .48rem;
                                margin-top: .26667rem;
                                strong{
                                    font-size: .42667rem;
                                    letter-spacing: 0;
                                    margin-right: .13333rem;
                                    font-weight: 400;
                                    color: #ff6743;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}