<div class="container">
    <div class="box">
        <header>
                <div class="address">
                    <i>&#xe63e;</i>
                    <span>全国</span>
                </div>
                <div class="search">
                    <i>&#xe61f;</i>
                    <span>搜索热门演出</span>
                </div>
                <span class="head-wrap">
                    <a href="#"><img src="../images/head-fx.png" alt=""></a>
                </span>
        </header>
        <main>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#"><img src="images/banner1.jpg" alt=""></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"><img src="images/banner2.jpg" alt=""></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"><img src="images/banner3.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination-bullets">
                        <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                    </div>
                </div>
                <section>
                    <div class="classify">
                        <div class="item">
                            <a href="#/index/showlist">
                                <img src="images/classify1.png" alt="">
                                <span>演唱会</span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/classify2.png" alt="">
                                <span>音乐剧</span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/classify3.png" alt="">
                                <span>舞台剧</span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/classify4.png" alt="">
                                <span>儿童剧</span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img src="images/classify5.png" alt="">
                                <span>音乐会</span>
                            </a>
                        </div>
                    </div>
                    <div class="advertion"></div>
                    <div class="operation"></div>
                </section>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>1</p>
                <p>2</p>
                <p>2</p>
                <p>2</p>
                <p>2</p>
                <p>2</p>
                <p>2</p>
                <p>2</p>
                <p>2</p>
                <p>2</p>
                <p>2</p>
                <p>2</p>
                <p>2</p>
                <p>2</p>
                <p>2</p>
                <p>2</p>
                <p>2</p>
                <p>2</p>
                <p>2</p>
                <p>2</p>
                <p>2</p>
        </main>
    </div>
    <footer>
            <ul>
                <li>
                    <a href="/" class="sy">
                        <i>&#xe613;</i>
                        <b>首页</b>
                    </a>
                </li>
                <li>
                    <a href="#/index/home/theatre">
                        <i>&#xe614;</i>
                        <b>剧院</b>
                    </a>
                </li>
                <li>
                    <a href="#/index/home/ticketPrice">
                        <i>&#xe60e;</i>
                        <b>票价</b>
                    </a>
                </li>
                <li>
                    <a href="#/index/home/mine">
                        <i>&#xe60f;</i>
                        <b>我的</b>
                    </a>
                </li>
            </ul>
    </footer>
</div>