<div class="container">
    <div class="box">
        <header>
                <div class="address">
                    <i>&#xe63e;</i>
                    <span>全国</span>
                </div>
                <div class="search">
                    <i>&#xe61f;</i>
                    <span>搜索热门演出</span>
                </div>
                <span class="head-wrap">
                    <a href="#"><img src="../images/head-fx.png" alt=""></a>
                </span>
        </header>
        <main>
                <div id="swiper-one" class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#"><img src="images/banner1.jpg" alt=""></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"><img src="images/banner2.jpg" alt=""></a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#"><img src="images/banner3.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="swiper-pagination swiper-pagination-bullets">
                        <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                        <span class="swiper-pagination-bullet"></span>
                        <span class="swiper-pagination-bullet"></span>
                    </div>
                </div>
                <section>
                    <div class="classify">
                        <div class="item">
                            <a href="#/index/showlist?id=35">
                                <img src="images/classify1.png" alt="">
                                <span>演唱会</span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#/index/showlist?id=79">
                                <img src="images/classify2.png" alt="">
                                <span>音乐剧</span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#/index/showlist?id=37">
                                <img src="images/classify3.png" alt="">
                                <span>舞台剧</span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#/index/showlist?id=38">
                                <img src="images/classify4.png" alt="">
                                <span>儿童剧</span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#/index/showlist?id=36">
                                <img src="images/classify5.png" alt="">
                                <span>音乐会</span>
                            </a>
                        </div>
                    </div>
                    <div class="advertion">
                        <a href="#">
                            <img src="./images/ad1.png" alt="">
                        </a>
                    </div>
                    <div class="operation">
                        <ul class="operation-t">
                            <li>
                                <a href="#">
                                    <div> 
                                        <h3>橙PLUS卡</h3>
                                        <p>
                                            限时送
                                            <span>100元</span>
                                        </p>
                                    </div>
                                    <div>
                                        <img src="./images/op1.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div> 
                                        <h3>积分商城</h3>
                                        <p>
                                            用积分,
                                            <span>0元</span>
                                            购票
                                        </p>
                                    </div>
                                    <div>
                                        <img src="./images/op2.png" alt="">
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="operation-b">
                            <li>
                                <a href="#">
                                    <div>
                                        <h3>聚特惠</h3>
                                        <p>
                                            优惠
                                            <span>不止</span>
                                            一点点
                                        </p>
                                    </div>
                                    <div> <img src="./images/op3.png" alt=""> </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <h3>日历</h3>
                                        <p>
                                            演出信息,
                                            <span>一目了然</span>
                                        </p>
                                    </div>
                                    <div> <img src="./images/op4.png" alt=""> </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div>
                                        <h3>欢聚橙卡</h3>
                                        <p>
                                            <span>33元</span>
                                            看演出
                                        </p>
                                    </div>
                                    <div> <img src="./images/op5.png" alt=""> </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
                <div class="hot-tour">
                    <div class="hot-wrap">
                        <div class="title-wrap">
                            <h3>热门演出</h3>
                            <a href="#"><img src="./images/right.png" alt=""></a>
                        </div>
                        <div class="hot-list">
                            <div id="swiper-two" class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="#">
                                            <div>
                                                <img src="images/hot-wrap1.jpg" alt="">
                                            </div>
                                            <h3>【小橙堡】原创音乐亲子剧《木偶奇遇记》</h3>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#">
                                            <div>
                                                <img src="images/hot-wrap2.jpg" alt="">
                                            </div>
                                            <h3>【小橙堡】原创音乐亲子剧《木偶奇遇记》</h3>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#">
                                            <div>
                                                <img src="images/hot-wrap3.jpg" alt="">
                                            </div>
                                            <h3>2019音乐剧明星集锦音乐会</h3>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#">
                                            <div>
                                                <img src="images/hot-wrap4.jpg" alt="">
                                            </div>
                                            <h3>《【万有音乐系】2019 VIDEO GAMES LIVE 暴雪游戏音乐会》</h3>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#">
                                            <div>
                                                <img src="images/hot-wrap5.jpg" alt="">
                                            </div>
                                            <h3>【万有音乐系】《大黑摩季“音乐权利”2019巡演——只凝视着你》</h3>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#">
                                            <div>
                                                <img src="images/hot-wrap6.jpg" alt="">
                                            </div>
                                            <h3>【万有音乐系】《你眼里的蓝》美声男团2019巡回演唱会 —— 王晰 马佳 贾凡 高杨 乘风起航</h3>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#">
                                            <div>
                                                <img src="images/hot-wrap7.jpg" alt="">
                                            </div>
                                            <h3>2019 EPIK HIGH 演唱会</h3>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#">
                                            <div>
                                                <img src="images/hot-wrap8.jpg" alt="">
                                            </div>
                                            <h3>【万有音乐系】大塚爱 2019 弹唱巡回演唱會《AIO PIANO at ASIA vol.2》</h3>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#">
                                            <div>
                                                <img src="images/hot-wrap9.jpg" alt="">
                                            </div>
                                            <h3>老航班·Mango Time！洛朗·班Laurent BÀN 2019巡回演唱会</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tour-wrap"></div>
                </div>
        </main>
    </div>
    <footer>
            <ul>
                <li>
                    <a href="/" class="sy">
                        <i>&#xe613;</i>
                        <b>首页</b>
                    </a>
                </li>
                <li>
                    <a href="#/index/home/theatre">
                        <i>&#xe614;</i>
                        <b>剧院</b>
                    </a>
                </li>
                <li>
                    <a href="#/index/home/ticketPrice">
                        <i>&#xe60e;</i>
                        <b>票价</b>
                    </a>
                </li>
                <li>
                    <a href="#/index/home/mine">
                        <i>&#xe60f;</i>
                        <b>我的</b>
                    </a>
                </li>
            </ul>
    </footer>
</div>