<div class="container">
    <header>
        <div class="address">
            <i>&#xe63e;</i>
            <span>全国</span>
        </div>
        <div class="search">
            <i>&#xe61f;</i>
            <span>搜索热门演出</span>
        </div>
        <span class="head-wrap">
            <a href="#"><img src="../images/head-fx.png" alt=""></a>
        </span>
    </header>
    <main></main>
    <footer>
        <ul>
            <li>
                <a href="#" class="sy">
                    <i>&#xe613;</i>
                    <b>首页</b>
                </a>
            </li>
            <li>
                <a href="#">
                    <i>&#xe614;</i>
                    <b>剧院</b>
                </a>
            </li>
            <li>
                <a href="#">
                    <i>&#xe60e;</i>
                    <b>票价</b>
                </a>
            </li>
            <li>
                <a href="#">
                    <i>&#xe60f;</i>
                    <b>我的</b>
                </a>
            </li>
        </ul>
    </footer>
</div>