<div class="container_search">
    <div class="search_header">
        <div class="search-ipt">
            <span class="search-icon"></span>
            <form action="">
                <input id="search_inp" type="text" placeholder="搜索热门演出">
            </form>
            <span class="cancel-icon"></span>
        </div>
        <span><a href="/">取消</a></span>
    </div>
    <div class="search_main">
        <div>
            <div class="hot-search">
                <h3>热门搜索</h3>
                <ul>
                    <li data-id=''>猫</li>
                    <li data-id=''>罗密欧与朱丽叶</li>
                    <li data-id=''>你眼里的蓝</li>
                    <li data-id=''>小猪佩奇</li>
                    <li data-id=''>林宥嘉</li>
                    <li data-id=''>李荣浩</li>
                </ul>
            </div>
            <ul id="search_list"></ul>
        </div>
    </div>
</div>