<div class="container_showlist">
    <header>
        <a href="/">&#xe615;</a>
        <h3>演出</h3>
    </header>
    <nav>
        <div class="show_type_wrap">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div data-id='0' class="swiper-slide">全部</div>
                    <div data-id='35' class="swiper-slide">演唱会</div>
                    <div data-id='36' class="swiper-slide">音乐会</div>
                    <div data-id='37' class="swiper-slide">话剧歌剧</div>
                    <div data-id='38' class="swiper-slide">儿童亲子</div>
                    <div data-id='79' class="swiper-slide">音乐剧</div>
                    <div data-id='91' class="swiper-slide">戏曲综艺</div>
                    <div data-id='99' class="swiper-slide">展览</div>
                    <div data-id='86' class="swiper-slide">舞蹈芭蕾</div>
                </div>
            </div>
        </div>
        <div class="city_wrap">
            <span>全国</span>
            <b>&#xe616;</b>
        </div>
    </nav>
    <main id="showlist_scroll">
        <div>
            <div class="head">
                <img src="/images/arrow.png" alt="">
                <b>下拉刷新...</b>
            </div>
            <div class="library-wrap">
                <ul id="library-wrap-list">
                </ul>
            </div>
            <div class="foot">
                <img src="/images/arrow.png" alt="">
                <b>上拉加载更多...</b>
            </div>
        </div>
       
    </main>
</div>