    <li>
        <div class="theater-info">
            <a href="#" class="theater-pic-name-count">
                <div class="theater-pic-wrap">
                    <img src="{{pic}}" alt="">
                </div>
                <div class="theater-name-count-wrap">
                    <p>{{name}}</p>
                    <p>{{count}}场在售演出</p>
                </div>
            </a>
            <a href="#" class="theater-link">
                <img src="./images/ellipsis.png" alt="">
            </a>
        </div>
        <div class="theater-shows">
            <div class="swiper-container">
                <div class="swiper-wrapper" id="theatre_swipper_{{id}}">

                </div>
            </div>
        </div>
    </li>